<!DOCTYPE html>
<html>
<head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<section>
    <div >
        <h1>Choose a Subscription Tier</h1>
        <div style="display: flex;">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Gold Tier</h3>
                    <p class="card-text">$24.00</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Silver Tier</h3>
                    <p class="card-text">$12.00</p>
                </div>
            </div>
        </div>
    </div>
    <form
        asp-action="CreateCheckoutReq"
        asp-controller="Checkout"
        method="POST">
        <select class="form-select" aria-label="Default select example" name="subscriptionType">
            <option selected value="">Select a subscription option</option>
            <option value="Gold">Gold Tier</option>
            <option value="Silver">Silver Tier</option>
        </select>
        <button
            type="submit"
            id="checkout-button">
            Checkout
        </button>
    </form>
</section>
</body>
</html>