@model StockApplicationASPNetWebMVCIndividualIdentity.Adapters.Controllers.Checkout.CheckoutResponseModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<form method="POST">
    
</form>

<p>@Model.Product.Id</p>
<p>@Model.Price.Id</p>