@page
@model StockApplicationASPNetWebMVCIndividualIdentity.Views.Checkout.UpdateShippingAddressRazor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>